body{
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.encabezado p{
    font-size: 50px;
    text-align: center;   
}
.contenedor{
    max-width: 100%;
    margin: auto;
    font-size: 100%;
    text-align: center;
}
